* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,
  button,
  textarea {
    font-family: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size:0;}
@mixin flexboxinline() {display:-webkit-inline-flex;display:-moz-inline-flex;display:-ms-inline-flex;display:-o-inline-flex;display:inline-flex;}
@mixin flexorder($val) {-webkit-box-ordinal-group:$val;-moz-box-ordinal-group:$val;-ms-flex-order:$val;-webkit-order:$val;order:$val;}
$font-family:"Roboto";
$minwidth:320px;
$mw:1100;
$md1:$mw+12;
$md2:992;
$md3:767;
$md4:479;
.ibg {
    position: relative;
  }
  .ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
.btn {
  display: inline-block;
  padding: 0px 42px;
  line-height: 281%;
  height: 47px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.67px;
  position: relative;
  &:after {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.3s 0s;
  }
  &_w {
  color: #fff;
  border: 1px solid #fff;
    &:after {
      background-color: #000;
    }
  }
  span {
    transition: all 0.3s 0s;
    position: relative;
    z-index: 1;
  }
  &:hover{
    &.btn_w {
      color: #000;
    }
    &:after{
      background-color: #fff;
      transform: scale(1);
    }
  }
&.fw{width: 100%;}
}
.wrapper {
    @include flexbox();
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
  }
@import url('https://fonts.googleapis.com/css2?family=Roboto:300;400;500;700;900&display=swap');
body {
  font-family: Roboto;
}
.container {
  max-width: $mw+px;
  margin: 0px auto;
  width: 100%;
  @media (max-width:$md1+px){max-width: 970px;}
  @media (max-width:$md2+px){max-width: 750px;}
  @media (max-width:$md3+px){max-width: none; padding: 0 10px;}
}
 .mainblock {
    @include flexbox();
    justify-content: center;
    text-align: center;
    flex: 1 1 auto;
    position: relative;
    padding: 50px 0px;
    @media screen and (max-width:767px) , screen and (max-height: 600px) {
       padding: 20px 0px;
      }
    &__content {
      position: relative;
      z-index: 1;
      flex: 1 1 auto;
      .container {
        height: 100%;
         @include flexbox();
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
    }
    &__logo {
      margin: 0px 0px 50px 0px;
    }
     &__text {
      color: #fff;
      position: relative;
       padding: 0px 0px 45px 0px;
       margin: 30px 0px;
       &:after{
         content:'';
         width: 105px;
         height: 2px;
         background-color: #fff;
         position: absolute;
         left: 50%;
         margin: 0px 0px 0px -52.5px;
         bottom: 0;
       }
    }
    &__title {
      font-weigth: 900;
      font-size: 34px;
      line-height: 118%;
      text-transform: uppercase;
      letter-spacing: 5.43px;
      margin: 0px 0px 5px 0px;
      @media screen and (max-width:767px) , screen and (max-height: 600px) {
        font-size: 25px;
        line-height: 30px;
      }
    }
    &__subtitle {
      font-weigth: 400;
      font-size: 17px;
      line-height: 118%;
      text-transform: uppercase;
      letter-spacing: 4.15px;
    }
    &__footer {
      @include flexboxinline();
      flex-direction: column;
    }
    &__btn {
      margin: 0px 0px 60px 0px;
      @media screen and (max-width:767px) , screen and (max-height: 600px) {
        margin: 0px 0px 30px 0px;
      }
    }
    &__arrow {
      position: relative;
      animation: arrow 2s infinite ease;
    }
    &__image {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
@keyframes arrow{
  0%{top: 0;}
  50%{top: 10px;}
  100%{top: 0;}
}
@-webkit-keyframes arrow{
  0%{top: 0;}
  50%{top: 10px;}
  100%{top: 0;}
}
@-moz-keyframes arrow{
  0%{top: 0;}
  50%{top: 10px;}
  100%{top: 0;}
}
@-o-keyframes arrow{
  0%{top: 0;}
  50%{top: 10px;}
  100%{top: 0;}
}
.content {
  background-color: #fff;
  position: relative;
  z-index: 50;
}
.menu {
  padding: 22px 0px;
  border-bottom: 1px solid #f2f2f2;
  &_mb {
    margin: 0px 0px 130px 0px;
    @media (max-width:$md2+px) {
      margin: 0px 0px 50px 0px;
    }
    @media (max-width:$md3+px) {
      margin: 0px 0px 30px 0px;
    }
  }
   @media screen and (max-width:479px) {
      padding: 22px 0px 12px 0px;
    }
  &__list {
    @include flexbox();
    justify-content: center;
    align-items: center;
    li{margin: 0px 25px;
      @media screen and (max-width:767px) {
        margin: 0px 15px 10px 15px;
      }
      @media screen and (max-width:767px) {
        flex: 0 1 25%;
      }
    }
    @media screen and (max-width:479px) {
      flex-wrap: wrap;
    }
  }
  &__link {
    color: #3c3c3c;
    font-size: 15px;
    text-transform: uppercase;
    font-weigth: 700;
    transition: all 0.3s 0s;
    &:hover {
      color: #ada074;
    }
  }
}
.header-block {
  text-align: center;
  &__title {
    font-size: 34px;
    forn-weight: 700;
    letter-spacing: 8.95px;
    text-transform: uppercase;
    position: relative;
    padding: 0px 0px 30px 0px;
    &:after {
      content: "";
      width: 81px;
      height: 1px;
      position: absolute;
      left: 50%;
      bottom: 0;
      margin: 0px 0px 0px -40.5px;
      background-color: #000;
   }
  }
  &__subtitle {
    padding: 30px 0px 0px 0px;
    color: #868585;
    font-size: 14px;
    forn-weight: 300;
    line-height: 25.89px;
    max-width: 700px;
    margin: 0px auto;
  }
}
.about {
  padding: 0px 0px 60px 0px;
  @media (max-width:$md3+px) {
      padding: 0px 0px 10px 0px;
    }
  &__header-block {
    margin: 0px 0px 65px 0px;
     @media (max-width:$md3+px) {
      margin: 0px 0px 30px 0px;
    }
  }
  &__body {
    text-align: center;
    max-width: 900px;
    margin: 0px auto;
  }
  &__row {
    @include flexbox();
    margin: 0px -15px;
    @media (max-width:$md3+px) {
      display: block;
    }
  }
  &__column {
    margin: 0px 0px 30px 0px;
    flex: 0 1 33.333%;
    padding: 0px 15px;
  }
  &__item {
    text-align: center;
    max-width: 260px;
    @media (max-width:$md3+px) {
      max-width: none;
    }
  }
  &__icon {
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    width: 92px;
    height: 92px;
    @include flexboxinline();
    justify-content: center;
    align-items: center;
    margin: 0px 0px 40px 0px;
     @media (max-width:$md3+px) {
      margin: 0px 0px 15px 0px;
    }
  }
  &__title{
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3.52px;
    margin: 0px 0px 33px 0px;
    @media (max-width:$md2+px) {
      font-size: 18px;
      margin: 0px 0px 25px 0px;
    }
    @media (max-width:$md3+px) {
      margin: 0px 0px 15px 0px;
    }
  }
  &__text {
    color: #868585;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
  }
}
